<svelte:head>
	<title>Pokedex</title>
</svelte:head>

<style>
	div {
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	  padding: 3rem 0;
	}
</style>

<script>
	import PokemonInput from "../components/pokemonInput.svelte";
	import PokemonTable from "../components/pokemonTable.svelte";
	import user from "../stores/user.store";
	export let name;
</script>

{#if $user.logged}
  <h3>Hi, {$user.user.profile.username || $user.user.profile.given_name || $user.user.profile.email}</h3>
{/if}


<div class='container pt-5'>
	<PokemonInput/>
	<PokemonTable/>
</div>
