<style>
  .invalid-feedback {
    display: block !important;
  }
</style>

<script>
  import * as sapper from "@sapper/app";
  import app from "../firebase/firebase";
  import userStore from '../stores/user.store';

  import Swal from "sweetalert2";
  import uuidv4 from 'uuid/v4';

  let email = "",
    password = "",
    passwordConfirmation = "",
    username = "";

  const pwdRegex = /^(?=.*[a-z])(?=.*\d).{6,}$/;

  const validatePwd = () => {
    if (password === passwordConfirmation && pwdRegex.test(password)) {
      createUser();
    } else {
      Swal.fire({
        type: "error",
        title: "Oops...",
        text: "Sorry! Password does not meet requirements..."
      });
    }
  };

  const createUser = async () => {
    try {
      const createdUser = await app.auth().createUserWithEmailAndPassword(email, password);
      const id = uuidv4();

      const verified_email = createdUser.user.emailVerified;

      let user = {
        id,
        profile: {
          email,
          verified_email,
        }
      }

      if (username !== '') { user.profile['username'] = username };

      const db = app.firestore();
      db.collection('users').add(user);

      userStore.signIn(user);

      Swal.fire(
        'Nice!',
        'You can now create your own Pokedexes\' 🔥🌊🌱',
        'success'
      )
      .then( r => {
        sapper.goto('/');
      });
    } catch (error) {
      console.log(error);
    }
  };
</script>

<!-- {#if created}
    <h3>Account creation successfull</h3>
    <button class="btn btn-success" on:click={() => {sapper.goto('/')}}>Go to home</button>
{:else} -->
<h2>Sign Up</h2>
<p>By signing up, you can create your own custom pokemon teams and add specific pokemon to your pokedex! 🔥</p>

<div class="alert alert-info" role="alert">
  Your password must contain a letter, a number and at least 8 characters!
</div>
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="email" placeholder="Enter email" bind:value={email} required>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Password" bind:value={password} required>
  </div>
  <div class="form-group">
    <label for="passwordConfirmation">Confirm password</label>
    <input type="password"
    class="form-control"
    id="passwordConfirmation"
    placeholder="Same Password"
    bind:value={passwordConfirmation}
    required>
    {#if password !== passwordConfirmation} 
    <div class="invalid-feedback">
      Passwords do not match
    </div>
    {/if}
  </div>
  <div class="form-group">
    <label for="username">Username (optional)</label>
    <input type="text" class="form-control" id="username" aria-describedby="username" placeholder="How would you like to be called?" bind:value={username}>
  </div>
  <button type="button" class="btn btn-primary" on:click={validatePwd}>Submit</button>
</form>
<!-- {/if} -->
