<svelte:head>
	<title>Sign In</title>
</svelte:head>

<style>
  .left {
    max-width: 20px;
    display: inline-block;
  }
  .left img {
    width: 20px;
    margin-right: 10px;
  }
  .google-login-btn {
    background-color: #fff;
    width: 100%;
    border-color: #f1f1f1;
    box-shadow: 0px 0px 12px 0px #e4e4e494;
    padding: 12px 0;
  }
  .google-login-btn a {
    color: #000;
    text-transform: none;
    text-decoration: none;
  }
  .btnSubmit, .btnCreate, .btnLoading {
    width: 50%;
  }
</style>

<script>
  import * as sapper from '@sapper/app';
  import app from "../firebase/firebase";
  import userStore from '../stores/user.store';

  const auth = app.auth();

  let email = "",
    password = "",
    waiting = false;

  const createAccountRedirect = () => {
    sapper.goto('/signUp');
  }

  const signin = async () => {
    try {
      waiting = true
      const user = await auth.signInWithEmailAndPassword(email, password);
      // console.log(user);
      const db = app.firestore();
      const dbUser = await db.collection('users').where('profile.email', '==', email).get();

      userStore.signIn(dbUser.docs[0].data());
      sapper.goto('/');
      waiting = false;
    } catch (error) {
      waiting = false;
      // Handle Errors here.
      const errorCode = error.code;
      const errorMessage = error.message;
      if (errorCode === "auth/wrong-password") {
        alert("Wrong password.");
      } else {
        alert(errorMessage);
      }
      console.log(error);
    }
  };

  const provider = new app.auth.GoogleAuthProvider();
  const GoogleSignin = async () => {
    try {
      const signIn = await app.auth().signInWithPopup(provider);
      // This gives you a Google Access Token. You can use it to access the Google API.
      const token = signIn.credential.accessToken;
      // The signed-in user info.
      const user = signIn.user;
      const additionalInfo = signIn.additionalUserInfo
      const { profile } = additionalInfo;

      const dbUser = {
          id:  profile.id,
          profile
      }
      // if is a new user, create user info in firebase db
      if (additionalInfo.isNewUser) {
        const db = app.firestore();
        db.collection('users').add(dbUser);
      }

    
      userStore.signIn(dbUser);
      sapper.goto('/')
    } catch (error) {
      // Handle Errors here.
      const errorCode = error.code;
      const errorMessage = error.message;
      // The email of the user's account used.
      const email = error.email;
      // The firebase.auth.AuthCredential type that was used.
      const credential = error.credential;

      console.log(error);
    }
  };
</script>

<div class="container login-container">
	<div class="row d-flex justify-content-center">
		<div class="login-form-2" style="width: 85%; max-width: 400px;">
			<h3>Sign In</h3>
			<form>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Email" bind:value={email} />
				</div>
				<div class="form-group">
					<input type="password" class="form-control" placeholder="Password" bind:value={password} />
				</div>
				<div class="form-group d-flex justify-content-between">
        {#if waiting}
          <button class="btn btn-success btnLoading" type="button" disabled>
            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
          </button>
        {:else}
					<input type="submit" class="btnSubmit btn btn-success" value="Sign In" on:click|preventDefault={signin} />
        {/if}
					<input type="button" class="btnCreate btn btn-info ml-2" value="Sign Up" on:click|preventDefault={createAccountRedirect}/>
				</div>
				<div class="form-group">
					<div class="btn btn-primary google-login-btn" on:click|preventDefault={GoogleSignin}>
              <a href="/users/google-oauth/">
                  <div class="left">
                      <img alt="Google Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
                  </div>
                  Sign In with Google
              </a>
          </div>
				</div>
			</form>
		</div>
	</div>
</div>
