<script>
	export let segment;

	import app from "../firebase/firebase";
	import user from '../stores/user.store'

	const signOutUser = async () => {
		await app.auth().signOut();
		user.signOut();
	}
</script>

<style>
	nav {
		border-bottom: 1px solid rgba(255,62,0,0.3);
		font-weight: 300;
		padding: 0 1em;
	}

	ul {
		margin: 0;
		padding: 0;
	}

	/* clearfix */
	ul::after {
		content: '';
		display: block;
		clear: both;
	}

	li {
		display: block;
		float: left;
	}

	.selected {
		position: relative;
		display: inline-block;
		color: #f00;
	}

	.selected::after {
		position: absolute;
		content: '';
		width: calc(100% - 1em);
		height: 2px;
		background-color: rgb(255,62,0);
		display: block;
		bottom: -1px;
	}

	a {
		text-decoration: none;
		padding: 1em 0.5em;
		display: block;
		color: #777;
	}
</style>

<nav>
	<ul>
		<li><a class='{segment === undefined ? "selected" : ""}' href='.'>Home</a></li>
		{#if !$user.logged}
			<li><a rel=prefetch class='{segment === "signIn" ? "selected" : ""}' href='signIn'>Sign In</a></li>
		{ :else }
			<li on:click={signOutUser}><a href='/'>Sign Out</a></li>
		{/if}
	</ul>
</nav>