<style>
#pokemon-input-form {
  align-content: flex-start;
  align-items: flex-start;
  align-self: flex-start;
  width: 100%;
}

#pokemon-input-form input {
  width: 100%;
}

</style>

<script>
    import axios from "axios";
    import pokemonStore from "../stores/pokemons.store.js";

    let searchString = "";

    const fetchPokemon = () => {
      const search = searchString.toLowerCase();
      axios
        .get(`https://pokeapi.co/api/v2/pokemon/${search}/`)
        .then(response => {
          const data = response.data; // pokemon json
          pokemonStore.addPokemonToStore(data);
        })
        .catch(err => {
          alert("Pokémon not found!");
        });
    };

    const randomPokemon = () => {
      const randNum = Math.floor(Math.random() * 801) + 1;
      searchString = `${randNum}`;
      fetchPokemon();
    };
</script>

<form id="pokemon-input-form" on:submit|preventDefault={fetchPokemon}>
  <div class="form-group">
    <label for="pokemon-input">Pokémon name or number</label>
    <input 
    type="text" 
    class="form-control" 
    id="pokemon-input" 
    aria-describedby="pokemon search input" 
    placeholder="Hit enter to search"
    bind:value={searchString}>
  </div>
  <button type="button" class="btn btn-primary" on:click|preventDefault={randomPokemon}>Random Pokémon</button>
</form>