<script>
	import pokemonStore from "../stores/pokemons.store.js";

	const firstLetterUpper = str => {
	  return str.charAt(0).toUpperCase() + str.slice(1);
	};
</script>

<style>
	.table td {
	  vertical-align: middle;
	}

	@media (max-width: 500px) {
	  .table {
	    margin: auto;
	    color: #212529;
	    display: block;
	    max-width: 100%;
	    position: relative;
	    left: 50%;
	    transform: translateX(-50%);
	  }
	  .pokemon-sprite {
	    max-width: 50px;
	    width: 50px;
	  }
	  .table td {
	    padding: 0.75rem 5px !important;
	    width: 87px;
	    font-size: 0.9rem;
	  }
	  .table th {
	    width: 87px;
	  }
	}
</style>

<table class="table table-striped mt-5">
  <thead class="thead-dark">
	<tr>
		<th>#</th>
		<th>Sprite</th>
		<th>Name</th>
		<th>Type</th>
	</tr>
  </thead>
  <tbody>
	{#each $pokemonStore as pokemon}
		<tr>
			<td>{pokemon.id}</td>
			<td>
				<img class="pokemon-sprite" src={pokemon.sprites.front_default} alt="{pokemon.name} front sprite"/>
			</td>
			<td>{firstLetterUpper(pokemon.name)}</td>
			<td>{firstLetterUpper(pokemon.types[0].type.name)}</td>
		</tr>
	{/each}
  </tbody>
</table>